.flex1-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    column-gap: 20px;
    }
.flex2-container {
    display: flex;
    justify-content: flex-end;
}
.flex-container-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    }
.flex-container-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.flex-container-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.flex-container-4 {
    display: flex;
    justify-content: center;
}

h3 {
    margin-bottom: 1px;
}
p {
    margin-top: 1px;
}
.flex-container-5 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    }
.flex-container-6 {
    display: flex;
    justify-content: center;
    column-gap: 25px;
}
.flex-container-7 {
    display: flex;
    justify-content: center;
    }
.flex-container-8 {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    align-items: center;
}
.flex-container-9 {
    display: flex;
    justify-content: center;
}
.flex-container-10 {
    display: flex;
    column-gap: 10px;
}
.flex-container-11 {
    display: flex;
    justify-content: space-between;
}
.flex1-2-container {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    background-color: rgb(191, 191, 191);
}
body {
    background-color:rgb(230, 230, 230);
}
 .button {
     padding: 8px 15px;
     text-align: center;
     background-color: black;
     color: white;
     font-weight: bold;
     cursor: pointer;
     margin: 15px;
     box-shadow: 5px 5px gray;
     letter-spacing: 2px;
 } 
 .flex-container-valve {
     display: flex;
     flex-direction: column;
     row-gap: 7px;
     text-align: center;
     margin: 10px ;
}
.flex-container-bass {
    display: flex;
    flex-direction: column;
    row-gap: 7px;
    text-align: center;
    margin: 10px ;
}
.flex-container-tenor {
    display: flex;
    flex-direction: column;
    row-gap: 7px;
    text-align: center;
    margin: 10px ;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 100px;
}
.features-container {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    margin: 50px;
}
.pricing-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    row-gap: 50px;
}
.flex-container-big-tenor {
    font-size: large;
    font-family: sans-serif;
    border: 5px solid;
    border-radius: 10px;
}
.flex-container-big-bass {
    font-size: large;
    font-family: sans-serif;
    border: 5px solid;
    border-radius: 10px;
}
.flex-container-big-valve {
    font-size: large;
    font-family: sans-serif;
    border: 5px solid;
    border-radius: 10px;
}